{% extends 'base.html.twig' %}

{% block navbar %}{% include ('navbar/navbar.html.twig') %}{% endblock %}


{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 haut-gauche">
				<div class="col-md-12">
					<div class="col-md-6">
                        <a href="{{ path('rando20k1vue') }}"><h3>excursion 5</h3></a>
						<p>blabla</p>
					</div>
					<div class="col-md-6 image-vue">
						<img src="{{ asset('img/vue1.jpg') }}" alt="cathedrale" />
					</div>
				</div>
			</div>
			<div class="col-md-6 haut-droit">
				<div class="col-md-12">
					<div class="col-md-6">
                        <a href="{{ path('rando20k2vue') }}"><h3>excursion 6</h3></a>
						<p>blabla</p>
					</div>
					<div class="col-md-6 image-vue">
						<img src="{{ asset('img/vue1.jpg') }}" alt="cathedrale" />
					</div>
				</div>
			</div>
		
		</div>
		<div class="row">
			<div class="col-md-6 bas-gauche">
				<div class="col-md-12">
					<div class="col-md-6">
                        <a href="{{ path('rando20k3vue') }}"><h3>excursion 7</h3></a>
						<p>blabla</p>
					</div>
					<div class="col-md-6 image-vue">
						<img src="{{ asset('img/vue1.jpg') }}" alt="cathedrale" />
					</div>
				</div>
			</div>
			<div class="col-md-6 bas-droit">
				<div class="col-md-12">
					<div class="col-md-6">
                        <a href="{{ path('rando20k4vue') }}"><h3>excursion 8</h3></a>
						<p>blabla</p>
					</div>
					<div class="col-md-6 image-vue">
						<img src="{{ asset('img/vue1.jpg') }}" alt="cathedrale" />
					</div>
				</div>
			</div>
		</div>
	</div>



{% endblock %}