{% extends 'base.html.twig' %}

{% block navbar %}{% include ('navbar/navbar.html.twig') %}{% endblock %}

{% block body %}
{% trans_default_domain 'FOSUserBundle' %}

<div class="col-md-6 col-md-offset-3 register-div">
	{{ form_start(form, {'method': 'post', 'action': path('user_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

		<div class="col-md-12 register-title">
			<h1>Enregistrement</h1>
		</br>
		</br>
		</div>
		<div class="col-md-12 ">
			<div class="col-md-6">
		    	Nom d'utilisateur :
		    </div>
			<div class="col-md-6">
				{{ form_widget(form.username) }}
				{{ form_errors(form.username) }}
		    </div>
		</div>

		<div class="col-md-12 register-form">
			<div class="col-md-6">
		    	Adresse E-mail :
		    </div>
			<div class="col-md-6">
				{{ form_widget(form.email) }}
				{{ form_errors(form.email) }}
		    </div>
		</div>

		<div class="col-md-12 ecart">
		    <div class="col-md-6 a">
		        <p class="appel">Nom :</p>
		    </div>
		    <div class="col-md-6">
		    {{ form_widget(form.nom) }}
			</div>
		</div>

		<div class="col-md-12 ecart">
		    <div class="col-md-6 a">
		        <p class="appel">Prénom :</p>
		    </div>
		    <div class="col-md-6">
		    {{ form_widget(form.prenom) }}
			</div>
		</div>

		<div class="col-md-12 register-form">
			<div class="col-md-6">
		    	Mot de passe :
		    </div>
			<div class="col-md-6">
				{{ form_widget(form.plainPassword.first) }}
				{{ form_errors(form.plainPassword.first) }}
		    </div>
		</div>

		<div class="col-md-12 register-form">
			<div class="col-md-6">
		    	Confirmation mot de passe :
		    </div>
			<div class="col-md-6">
				{{ form_widget(form.plainPassword.second) }}
				{{ form_errors(form.plainPassword.second) }}
		    </div>
		</div>

	    <div class="col-md-12 register-but">
	    	<div class="col-md-6 col-md-offset-6">
	        	<input class="btn btn-register" type="submit" text-align right value="{{ 'registration.submit'|trans }}" />
	    	</div>
	    </div>
	{{ form_end(form) }}
</div>

{% endblock %}